@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  overflow-x: hidden;
  background: #191919;
  user-select: none;
  -webkit-user-select: none;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-start {
    @apply flex justify-start items-start;
  }

  .btn {
    @apply bg-primary-60 py-2 px-4 rounded-full text-gray-20 hover:bg-gray-10 hover:text-white transform duration-300 ease-in-out;
  }
}
